.destination-itens{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.destinations .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.destinations .img-item{
    width: 312px;
    height: 360px;
}

.destinations .tokyo .img-item{
    background: url(../images/tokyo-mobile.jpg) no-repeat;
    background-size: cover;
}

.destinations .osaka .img-item{
    background: url(../images/osaka-mobile.jpg) no-repeat;
    background-size: cover;
}

.destinations h4{
    text-align: left;
    margin-top: 24px;
}

.destinations p{
    width: 312px;
    text-align: left;
}

@media screen and (min-width:768px) {


.destinations .img-item{
    width: 648px;
    height: 452px;
}

.destinations .tokyo .img-item{
    background: url(../images/tokyo-tablet-desk.jpg) no-repeat;
    background-size: cover;
}

.destinations p{
    font-size: 20px;
    width: 648px;
}

.item footer{
    width: 648px;
}

}

@media screen and (min-width:1440px) {
.destination-itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.destinations .img-item{
    width: 588px;
    height: 452px;
}

.destinations p{
    font-size: 20px;
    width: 588px;
}

.item footer{
    width: 588px;
}

}




