.offers-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.card{
    padding: 24px 16px;
    color: var(--text-secondary-color);
    background-color: black;
    width: 312px;
    height: 288px;
    box-sizing: border-box;
    border-radius: 16px;
    text-align: center;
}

.card header{
    display: block;
    padding: 0;
    position: static;
    background-color: transparent;
}

.card header p{
    font-size: 20px;
    font-weight: var(--text-wheight);
}

.card header h3{
    font-size: 40px;
    font-weight: var(--title-wheight);
    margin: 8px 0 0;
}

.card header span{
    display: inline-block;
    margin: 24px;
    font-size: 32px;
}

.card.japao{
    background-image: url(../images/bg-card-japao.jpg);
    background-size: cover;
}

.card.san-andreas{
    background-image: url(../images/bg-card-san-andreas.jpg);
    background-size: cover;
}

.card.paraiba{
    background-image: url(../images/bg-card-paraiba.jpg);
    background-size: cover;
}

.card.manaus{
    background-image: url(../images/bg-card-manaus.jpg);
    background-size: cover;
}

@media screen and (min-width:768px){
    .offers-card{
    flex-direction: row;
    justify-content: center;
    }
}

@media screen and (min-width:1024px){
    .card{
        width: 420px;
        height: 308px;
    }
    .card header h3{
    font-size: 48px;
    }

    .card header span{
        font-size: 40px;
    }
}

@media screen and (min-width:1440px){
    .card{
        width: 588px;
        height: 308px;
    }
}

@media screen and (min-width: 1800px){
    .offers-card{
        width: 1250px;
        margin: 0 auto;
    }
}